
.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('mayo.jpg');
  background-size: cover;
  text-align: left;
  background-color: #F2F4F4;
}




body {
    background-color: #F2F4F4;
}


h1 {
  font-size: 20px;
    color: green;
    text-align: center;
    background-size: cover;

}

 img {
     background-size: 100%;
     max-height: 100%;
   }

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
    border-color: red;
    background color: red;
}

h2 {color: black;
   font-size: 30px;
   text-align: center;
   font-family: 'Quicksand:700', sans-serif;
    padding:30px;
    font-weight: bold;
  }

h3 {color: black;
  font-size: 22px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 22px;
}


li.ul1{ list-style-type: none;
  font-family: 'Quicksand', sans-serif;
}


p {text-align: center;
   padding:30px;
   font-family: 'Quicksand', sans-serif;
}



div.par {text-align: center;
  font-family: 'Quicksand', sans-serif;


}
ul.right {text-align: right;
  font-family: 'Quicksand', sans-serif;
}
ul.left {text-align: left;
  font-family: 'Quicksand', sans-serif;
}

#line {
    border-bottom: 1px solid black;
}

#line2 {
    border-bottom: 1px solid grey;
}

.footer {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
}

.resa {
    font-family: 'Rasa', serif;
    color: #58874D;
    padding: 5px;
}

.quicksand-lg {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 5px;
}

.quicksand-m {
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
  }

.footerhead {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #58874D;
}

.pfoot {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding: 5px;
}

#footlink {
  color: grey;

}

#footlink:hover {
  color: #58874D;
}

#provlink {
    color: #C6C6C6;
    text-decoration: none;
}

#provlink:hover {
    color: #C6C6C6;
    text-decoration: underline;
}
